%table.scores
  %tr
    %th Player
    %th Kills
    %th Headshots

  - @stats.each do |row|
    %tr
      %td.first= row["killer"]
      %td= row["kills"]
      %td= row["headshots"]

  %tr
    %td.timestamp(colspan="3")= "Last updated: #{Time.now.to_s}"
